.react-flow {
  height: 100vh !important;
  background-color: lightgray;
}
.testFlow aside {
  right: 0;
  bottom: 0;
  position: absolute;
  border-left: 1px solid #eee;
  padding: 15px 10px;
  font-size: 12px;
  background: #fff;
  width: 100%;
  color: black;
}

.testFlow aside .description {
  margin-bottom: 10px;
}

.testFlow aside .title {
  font-weight: 700;
  margin-bottom: 5px;
}

.testFlow aside .transform {
  margin-bottom: 20px;
}

.testFlow .selectall {
  margin-top: 10px;
}

.testFlow button,
.testFlow select,
.testFlow input {
  margin: 5px;
  padding: 5px;
  border-radius: 4px; /* rounded corners */
  background-color: white;
  color: black;
}

.testFlow select {
  border: 2px solid #7ba0c7;
  background-color: #7ba0c7;
  font-weight: bolder;
  cursor: pointer; /* changes the cursor to a hand on hover */
}

.context-container {
  max-height: 250px;
  overflow-y: auto;
}