.react-flow__minimap {
  background-color: #000;
  border: 1px solid grey;
  margin-bottom: 30px;
}

.react-flow__handle {
  opacity: 0.2;
}

.react-flow__attribution a {
  background: black;
  display: inline-block;
  padding: 0.5em;
}
