.rsNode {
  border-radius: 3px;
  font-size: 12px;
  color: white;
  text-align: left;
  /* border-width: 1px;
  border-style: solid;
  border-color: white;
  border-width-left: 5px; */
}

.pro {
  border-color: var(--pro);
  stroke: var(--pro);
  border-width: 1px;
  border-style: solid;
}

.con {
  border-color: var(--con);
  stroke: var(--con);
  border-width: 1px;
  border-style: solid;
}

.rsNodeGrid {
  display: grid;
  grid-template-columns: 150px 50px 50px 100px 25px;
}

.rsContent {
  padding: 10px;
}

.rsCalc {
  display: grid;
  align-content: start;
  outline: 1px solid hsl(0deg 0% 42% / 30%);
}
