/* TODO move this to proper module file */

/* global.css */
:root {
    --max-width: 1100px;
    --border-radius: 12px;
    --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
        "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
        "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;

    --primary-glow: conic-gradient(from 180deg at 50% 50%,
            #16abff33 0deg,
            #0885ff33 55deg,
            #54d6ff33 120deg,
            #0071ff33 160deg,
            transparent 360deg);
    --secondary-glow: radial-gradient(rgba(255, 255, 255, 1),
            rgba(255, 255, 255, 0));

    --tile-start-rgb: 239, 245, 249;
    --tile-end-rgb: 228, 232, 233;
    --tile-border: conic-gradient(#00000080,
            #00000040,
            #00000030,
            #00000020,
            #00000010,
            #00000010,
            #00000080);

    --callout-rgb: 238, 240, 241;
    --callout-border-rgb: 172, 175, 176;
    --card-rgb: 180, 185, 188;
    --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;

        --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
        --secondary-glow: linear-gradient(to bottom right,
                rgba(1, 65, 255, 0),
                rgba(1, 65, 255, 0),
                rgba(1, 65, 255, 0.3));

        --tile-start-rgb: 2, 13, 46;
        --tile-end-rgb: 2, 5, 19;
        --tile-border: conic-gradient(#ffffff80,
                #ffffff40,
                #ffffff30,
                #ffffff20,
                #ffffff10,
                #ffffff10,
                #ffffff80);

        --callout-rgb: 20, 20, 20;
        --callout-border-rgb: 108, 108, 108;
        --card-rgb: 100, 100, 100;
        --card-border-rgb: 200, 200, 200;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: rgb(var(--foreground-rgb));
}

a {
    color: inherit;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}

:root {
    --pro-h: 276.37;
    --pro-l: 65%;
    --pro: hsl(var(--pro-h), 100%, var(--pro-l));

    --con-h: 30.21;
    --con-l: 42%;
    --con: hsl(var(--con-h), 100%, var(--con-l));
}

svg {
    display: block;
}

/* page.css */
.react-flow__panel.react-flow__minimap {
    background-color: #000;
    border: 1px solid grey;
    margin-bottom: 30px;
}

.react-flow__attribution a {
    background: black;
    display: inline-block;
    padding: 0.5em;
}

button.react-flow__controls-button{
    background-color: #333;
    fill: white;
    border-bottom: 2px solid black;
}

button.react-flow__controls-button:hover{
    background-color: #777;
    fill: white;
}

/* displayNode.css */
.rsNode {
    border-radius: 3px;
    font-size: 12px;
    color: white;
    text-align: left;
    background-color: rgb(30 30 30 / 70%);
}

.pro {
    border-color: var(--pro);
    stroke: var(--pro);
    border-width: 1px;
    border-style: solid;
}

.con {
    border-color: var(--con);
    stroke: var(--con);
    border-width: 1px;
    border-style: solid;
}

.rsNodeGrid {
    display: grid;
    grid-template-columns: 50px auto;
    grid-template-rows: minmax(auto, 25px) auto auto;
    grid-template-areas:
        ".         .         scaleTo1Relevance        consolidateRelevance  incomingRelevance"
        "relevance cancelOut scaleTo1 consolidate           weightByConfidence"
        "relevance content   scaleTo1 consolidate           weightByConfidence"
        ".         content   scaleTo1 consolidate           weightByConfidence";
}

.rsContent {
    padding: 10px;
    width: 150px;
    border-radius: 0 0 0.5rem 0.5rem;
    border-top: 0;
}

.rsCalc {
    display: grid;
    align-content: start;
    /* outline: 1px solid hsl(0deg 0% 42% / 30%); */
}

.node-text-area {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    font-family: inherit;
    resize: none !important;
    overflow: hidden;
    color: inherit
}

.node-text-area:focus {
    border-bottom: 1px solid #ccc;
}

/* page.module.css */
.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    text-decoration: none;
}

.main a {
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    margin: 10px;
    transition: all 0.3s ease;
}

.main a:hover {
    color: black;
    background-color: white;
    border-color: white;
}

/* Overrides */

div.bp5-overlay.bp5-overlay-container.bp5-overlay-inline {
    position: initial;
}

.rsNode .bp5-button .bp5-icon {
    color: initial
}

.autoAnimate {

    .react-flow__node-rsNode,
    path {
        transition: all 1s ease;
    }

    /* react-flow__edgelabel-renderer{
        transition: all 1s ease;
        div{
            transition: all 1s ease;
        }
    } */
}